@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-bottom: 1px black;
}

.navbar a {
  padding-left: 20px;
  text-decoration: none;
}

.navbar .home {
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.navbar a:hover {
  color: #c91d06;
}

.app content {
  align-items: center;
}